/* Thiết lập cơ bản */

.id4_QTDGD_implant-process-section {
    background-color: #ffffff;
    padding: 70px 0 80px 0;
    text-align: center;
}

.id4_QTDGD_implant-container {
    max-width: var(--id4-container-width);
    margin: 0 auto;
    /* padding: 0 15px; */
}


/* Tiêu đề chính */

.id4_QTDGD_implant-section-title {
    font-family: var(--id4-font-main);
    font-size: var(--id4-font-size-title);
    color: var(--id4-color-text-title);
    font-weight: var(--id4-font-weight-title);
    text-align: center;
    /* margin-bottom: 20px; */
}


/* Bố cục 3 bước dùng Flexbox */

.id4_QTDGD_implant-process-steps {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.id4_QTDGD_implant-step-item {
    flex: 1;
    /* Chia đều không gian cho 3 cột */
    max-width: calc(33.33% - 20px);
    padding: 0 10px;
}

.id4_QTDGD_implant-step-icon img {
    width: 120px;
    height: auto;
    object-fit: contain;
    /* opacity: 0.8; */
    /* Làm mờ nhẹ icon nếu cần */
}


/* Nội dung mô tả */

.id4_QTDGD_implant-step-description {
    font-family: var(--id4-font-main);
    font-size: var(--id4-font-size-desription);
    font-weight: var(--id4-font-weight-desript);
    text-indent: var(--id4-text-indent);
    text-align: justify;
    line-height: 1.6;
    color: #333333;
}


/* Nút hành động */

.id4_QTDGD_implant-action-button {
    font-family: var(--id4-font-main);
    font-size: var(--id4-font-size-desription);
    font-weight: var(--id4-font-weight-small-bold);
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--id4-button-color);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.id4_QTDGD_implant-action-button:hover {
    background-color: var(--id4-button-color);
    color: #ffffff;
}


/* --- MEDIA QUERIES CHO RESPONSIVE --- */


/* Tablet (Màn hình nhỏ hơn 992px) */

@media (max-width: 991px) {
    .id4_QTDGD_implant-step-item {
        /* Cho phép chúng co giãn và sử dụng flex-basis */
        flex: 1 1 30%;
    }
}


/* Mobile và Tablet nhỏ (Màn hình nhỏ hơn 767px) */

@media (max-width: 767px) {
    .id4_QTDGD_implant-process-section {
        padding: 80px 20px;
    }

    .id4_QTDGD_implant-section-title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .id4_QTDGD_implant-process-steps {
        /* Trên Mobile: Xếp thành 1 cột dọc */
        flex-direction: column;
        gap: 40px;
        /* Khoảng cách giữa các bước lớn hơn */
    }

    .id4_QTDGD_implant-step-item {
        max-width: 100%;
        /* Chiếm toàn bộ chiều rộng */
        padding: 0;
    }

    .id4_QTDGD_implant-step-description {
        font-size: 14px;
    }
}