/* Thiết lập cơ bản */
.id4_guide_vtt-about-us-section {
    background-color: var(--id4-container-color-xam);
    padding: var(--id4-spacing-block) 0;
    font-family: var(--id4-font-main);
    text-align: center;
}

.id4_guide_vtt-container {
    max-width: var(--id4-container-width);
    margin: 0 auto;
}

/* Tiêu đề chính */
.id4_guide_vtt-main-title {
    font-family: var(--id4-font-main);
    font-size: var(--id4-font-size-title);
    color: var(--id4-color-text-title);
    font-weight: var(--id4-font-weight-title);
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Tiêu đề phụ */
.id4_guide_vtt-subtitle {
    font-size: var(--id4-font-size-desription);
    color: var(--id4-color-text-desription);
    margin-bottom: 16px;
    font-style: italic;
}

/* Nội dung mô tả */
.id4_guide_vtt-description-content {
    font-family: var(--id4-font-main);
    font-size: var(--id4-font-size-desription);
    text-indent: var(--id4-text-indent);
    font-weight: var(--id4-font-weight-desript);

    line-height: 1.6;
    margin: 0 auto;
    text-align: justify;
}

/* --- MEDIA QUERIES CHO RESPONSIVE --- */

/* Tablet (Màn hình nhỏ hơn 992px) */
@media (max-width: 991px) {
    .id4_guide_vtt-about-us-section {
        padding: 60px 0;
    }

    .id4_guide_vtt-main-title {
        font-size: 28px;
    }

    .id4_guide_vtt-subtitle {
        font-size: 16px;
    }

    .id4_guide_vtt-description-content {
        font-size: 15px;
        padding: 0 2%;
    }
}

/* Mobile (Màn hình nhỏ hơn 576px) */
@media (max-width: 575px) {
    .id4_guide_vtt-about-us-section {
        padding: 40px 0;
    }

    .id4_guide_vtt-main-title {
        font-size: 24px;
    }

    .id4_guide_vtt-subtitle {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .id4_guide_vtt-description-content {
        font-size: 14px;
        padding: 0 4%;
    }
}