/* File: assets/css/global.css */


@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Paytone+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rochester&family=Sigmar+One&display=swap');

:root {
    /* --- 1. MÀU SẮC (COLORS) --- */
    --id4-primary-color: #2b6cb0;
    --id4-secondary-color: #ed8936;
    --id4-text-color: #333333;
    --id4-bg-light: #f7f9fc;

    /* --- 2. FONT CHỮ (TYPOGRAPHY) --- */
    /* Lưu ý: Font cần được load trong Flatsome hoặc Google Fonts trước */
    --id4-font-main: 'Roboto', sans-serif;
    --id4-font-heading: 'Open Sans', sans-serif;
    --id4-font-size-base: 16px;

    /* --- 3. KÍCH THƯỚC & KHOẢNG CÁCH (DIMENSIONS & SPACING) --- */
    --id4-container-width: 1200px;
    --id4-header-height: 80px;
    --id4-spacing-sm: 8px;
    --id4-spacing-md: 16px;
    --id4-spacing-lg: 32px;


    /* --- 4. BORDER & RADIUS --- */
    --id4-border-radius-card: 28px;
    --id4-border-radius-btn: 5px;


    /* --- 5. Khoảng cách --- */
    --id4-space-container: px;
}